<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading"><%= current_user.email %></div>
            <div class="panel-body">
                <br>
                <% if user_signed_in? %>
                        <%= current_user.id %>
                        <%= @user.itisme.each_with_rel do |_n,r|  %>
                        <%= link_to("delete",person_itis_me_path(r.to_node.id, r), method: :delete) %>
                        <% end %>
                            <% end %>
            </div>
        </div> 

        <div class="panel panel-default">
            <div class="panel-body">
            <% if user_signed_in? && current_user.itisme.present? %>
              <%= content_tag(:span, current_user.itisme.myclan.tribe.name, class: 'label label-warning') %>&#9658;
              <%= content_tag(:span, current_user.itisme.myclan.name, class: 'label label-warning') %>&hellip;
              <% @ancestors.reverse_each do |node| %>
                                <%= link_to(node) do %>
                                    <span class="label label-info"><%= node.name %> </span>
                                    <% end %> &#8658;
                                        <% end %>           
            <% end %>                
                
                
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class='col-md-3'>
                    <a class="btn btn-success btn-block" href="/persons/86aff2b6-7f67-48c0-8d9f-afb1becf2a4e/edit">Edit</a> 
                </div>                          
                <div class='col-md-3'>
                    <a class="btn btn-danger btn-block" rel="nofollow" data-method="delete" href="/persons/86aff2b6-7f67-48c0-8d9f-afb1becf2a4e">Delete</a>
                </div>                         
            </div>
        </div>

    </div>
    <div class="col-md-4"> 
        <div class="list-group">
        <a class="list-group-item" href="/">
                  <h4 class="list-group-item-heading">Men Qazaqpyn </h4>                            
              </a>

            <% if user_signed_in? && current_user.itisme.present? %>                      
              <%= link_to(current_user.itisme.myclan.tribe.union, class: "list-group-item") do  %>
                  <h4 class="list-group-item-heading">My union is <%= current_user.itisme.myclan.tribe.union.name %></h4>
                <% end %>

                <%= link_to(current_user.itisme.myclan.tribe, class: "list-group-item") do  %>
                  <h4 class="list-group-item-heading">My tribe is <%= current_user.itisme.myclan.tribe.name %></h4>
                <% end %>
                <%= link_to(current_user.itisme.myclan, class: "list-group-item") do  %>
                  <h4 class="list-group-item-heading">My clan is <%= current_user.itisme.myclan.name %></h4>
                <% end %>
                <%= link_to(current_user.itisme, class: "list-group-item") do  %>
                  <h4 class="list-group-item-heading">My name in Shejire - <%= current_user.itisme.name %></h4>
                <% end %>

              <% end -%>
                                   </div>
      </div>
      

      <div class="col-md-4">
      <div class="panel panel-default">
          <div class="panel-heading">Panel heading</div>        
          <ul class="list-group">
              <li class="list-group-item">
                  <span class="badge">14</span>
                  Cras justo odio
              </li>
              <li class="list-group-item">
                  <span class="badge">2</span>
                  Dapibus ac facilisis in
              </li>
              <li class="list-group-item">
                  <span class="badge">1</span>
                  Morbi leo risus
              </li>
          </ul>
      </div>
  </div>  
  <!-- divider -->
  <div class="row">
      <div class='col-md-12'>
          <div class="panel panel-default">
              <div class="panel-body" id="tree-container">
                  d3
              </div>
          </div>
      </div>
  </div>
  <!-- end divider -->