
<div class="container">   

    <legend>Edit Clan</legend>
    <%= form_for @clan, url: {action: "update"}, html: {class: "form-horizontal"} do |c| %>


        <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Union</label>
            <div class="col-lg-4">
                <%= collection_select(:union, :id, @unions, :id, :name, {required: true }, {class: "form-control"})  %>

              </div>
          </div>
          <div class="form-group">
              <label for="select" class="col-lg-2 control-label">Tribe</label>
              <div class="col-lg-4">
                  <%= collection_select(:tribe, :id, @tribes, :id, :name, { selected: @clan.tribe.id }, {class: "form-control" })  %>

                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label">Title of Clan</label>
                <div class="col-lg-4">
                    <%= c.text_field :name , :class => "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Казақша</label>
                <div class="col-lg-4">
                    <%= c.text_field :namecyr , :class => "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Description</label>
                <div class="col-lg-10">
                    <%= c.text_area :text, :class => "form-control" %>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <%= link_to "Cancel", :back, class: "btn btn-default" %>
                      <%= c.submit "Update", class: "btn btn-primary" %>
                    </div>
                </div>
              <% end %>
          </div>



