<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!--- <article> <p id="notice"><%= notice %></p> -->
                                    <div class="panel panel-default">
  <div class="panel-heading"><%= @clan.name %></div>
  <div class="panel-body">
<%= @clan.text %><br>

  </div>
</div>
<%= link_to 'Edit', edit_clan_path, class: "btn btn-info" %> 
<%= link_to "Delete", clan_path, method: :delete, class: "btn btn-danger" %>
						
			</div>
			
		</div>
	</div>
	</section>
