       <div class="row">
            <div class="col-md-3">
                <div class="panel">
                <% if @clan.tribe.present? %>
                    <ul class="nav nav-pills">
                        <li class="active">                            
                            <%= link_to @clan.tribe.union.name, @clan.tribe.union %>
                            <span class="badge"></span>
                        </li>                        
                        <li class="active">     
                            <%= link_to @clan.tribe.name, @clan.tribe %>
                            <span class="badge"></span>
                        </li>
                    </ul>
                    <% end %>       
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><%= @clan.name %></div>
                    <div class="panel-body">
                        <%= simple_format(@clan.text) %><br>
                    </div>
                </div>
                <%= link_to 'Edit', edit_clan_path, class: "btn btn-info" %> 
                  <%= link_to "Delete", clan_path, method: :delete, class: "btn btn-danger" %>
                </div>
                <div class="col-md-4">
                <ul class="list-group">
                <% if @clan.tribe.present? %>
                <li class="list-group-item">
                Taipa: <%= link_to("Show", clan_within_path(@clan)) %>
                </li>
                <% else %>
                <li class="list-group-item">
                Taipa: <%= link_to("Create", new_clan_within_path(@clan)) %>
                </li>
                <% end %>
                </ul>
                    <div class="list-group">
                        <div class="panel-heading">Panel heading</div>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        </a>
                    </div>
                </div>
            </div>