<legend>Edit Person</legend>
<%= form_for @person, url: {action: "update"}, html: {class: "form-horizontal"} do |p| %>

    <% if @person.myclan %>
      <div class="form-group">
          <label for="select" class="col-lg-2 control-label">Union</label>
          <div class="col-lg-4">
              <%= p.text_field nil, {class: "form-control", value: "#{@person.myclan.tribe.union.name}", disabled: ""}  %>                         
            </div>
        </div>
        <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Tribe</label>
            <div class="col-lg-4">
                <%= p.text_field :tribetitle,  {class: "form-control", value: "#{@person.myclan.tribe.name}", disabled: ""}  %>

              </div>
          </div>


          <div class="form-group">
              <label for="select" class="col-lg-2 control-label">Clan</label>
              <div class="col-lg-4">
                  <%= p.text_field :myclan, {class: "form-control", value: "#{@person.myclan.name}", disabled: ""}  %>                         
                </div>
            </div>
          <% end %>
          <div class="form-group">

              <label class="col-lg-2 control-label">Name of Person</label>
              <div class="col-lg-4">
                  <%= p.text_field :name , class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Description</label>
                <div class="col-lg-10">
                    <%= p.text_area :text, class: "form-control" %>
                  </div>
              </div>

              <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                      <%= link_to "Cancel", :back, class: "btn btn-default" %>
                        <%= p.submit "Edit", class: "btn btn-primary" %>
                      </div>
                  </div>
                <% end %>