<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><%= @person.name %></div>
                    <div class="panel-body">
                        <%= @person.text %><br>

                    </div>
                </div>     
                
                
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class='col-md-3'>
                    <%= link_to 'Edit', edit_person_path, class: "btn btn-success btn-block" %> 
                </div>                         
                        <div class='col-md-3'>
                    <%= link_to 'Add son', addson_person_path, class: 'btn btn-info btn-block' %> 
                </div>
                             <div class='col-md-3'>
                    <%= link_to "Delete", person_path, method: :delete, class: "btn btn-danger btn-block" %>
                </div>                         
                        </div>
                    </div>
                </div>
                <div class="col-md-4">                    
                    <ul class="list-group">
                        <li class="list-group-item">
                            Taipa: <%= @person.myclan.tribe.name if @person.myclan %>
                        </li>
                        <li class="list-group-item">
                            Ruy: <%= link_to(@person.myclan.name, @person.myclan) if @person.myclan %>
                        </li>
                        
                        <li class="list-group-item">
                            Ancestor: <%= link_to(@person.ancestor.name, @person.ancestor) if @person.ancestor %>
                        </li>
                        <li class="list-group-item">
                            <%= @person.name %> has descendants:
                        </li>

                        <% @person.seeds.each_rel do |r| %>
                          <li class="list-group-item"> 
                              <%= link_to(r.to_node[:name], r.to_node) %> 
                          </li>
                        <% end %>

                    </ul>
                </div>
            </div>
            <!-- divider -->            
            <!-- end divider -->

        </div>
    </section>
