
<legend>Clan within Tribe</legend>
<%= form_for @clan, url: { action: "create" }, method: :post, html: {class: "form-horizontal"} do |f| %>

    <div class="form-group">
        <label class="col-lg-2 control-label">Title of Clan</label>
        <div class="col-lg-4">
            <%= f.text_field :name , {class: "form-control", value: "#{@clan.name}", disabled: ""} %>
          </div>
      </div>

      <div class="form-group">
          <label for="select" class="col-lg-2 control-label">Union</label>
          <div class="col-lg-4">
              <%= collection_select(:union, :id, @unions, :id, :name, {required: true }, {class: "form-control"})  %>

            </div>
        </div>
        <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Choose Tribe</label>
            <div class="col-lg-4">         
                <%= f.collection_select(:tribe, @tribes, :id, :name, { requierd: true }, { class: "form-control" } )  %>      

              </div>
          </div>       

          <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                  <%= link_to "Cancel", :back, class: "btn btn-default" %>
                    <%= f.submit "Create", class: "btn btn-primary" %>
                  </div>
              </div>
            <% end %>
